/* */

.app-sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid var(--color-border);
}

.app-sidebar__tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-sidebar__button {
  padding: 10px 8px;
}

.app-sidebar__button.is-active {
  border-left: 2px solid var(--color-bg-accent-2);
}
