/* breadcrumbs */

.breadcrumbs {
  position: relative;
}

/* breadcrumbs__list */

.breadcrumbs__list {
  display: flex;
  gap: 4px;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__item {
  position: relative;
  overflow: hidden;
  color: var(--color-text-inert);
  font-size: calc(var(--text-size-main) - 2px);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '>';
  margin-left: 2px;
}

.breadcrumbs__item.is-active {
  color: var(--color-text-primary);
}

.breadcrumbs__link {
  display: inline-flex;
  gap: 2px;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition: all .25s ease;
}

.breadcrumbs__link:hover {
  color: var(--color-text-primary);
}
