/* button */

.button {
  position: relative;
  display: inline-flex;
  max-width: 100%;
  padding: 20px 60px;
  border: 2px solid var(--color-bg-accent);
  border-radius: 5px;
  background-color: var(--color-bg-accent);
  color: #fff;
  font-weight: normal;
  font-size: var(--text-size-main);
  font-family: var(--text-font-main);
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.button:active {
  opacity: 1;
}

.button:disabled {
  opacity: 0.4;
  cursor: default;
}

.button:focus-visible:not(:disabled) {
  outline: 1px solid var(--color-bg-accent);
  outline-offset: -1px;
}

.button:focus:not(:focus-visible) {
  outline: none;
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
  opacity: 0.8;
}
