/* editor */

.editor {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

/* editor__breadcrumbs */

.editor__breadcrumbs {
  padding: 2px 15px;
}

/* editor__content */

.editor__content {
  overflow-y: auto;
  height: 100%;
  padding: 13px 15px;
}
