/* headings */

.entry-content>h1,
.entry-content>h2,
.entry-content>h3,
.entry-content>h4,
.entry-content>h5,
.entry-content>h6 {
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.1;
  text-wrap: balance;
}

.entry-content>.h1,
.entry-content>h1 {
  font-size: 42px;
}

.entry-content>h2 {
  font-size: 32px;
}

.entry-content>h3 {
  font-size: 22px;
}

.entry-content>h4 {
  font-size: 18px;
}

.entry-content>h5,
.entry-content>h6 {
  font-size: 16px;
}


@media (width <= 568px) {

  .entry-content>.h1,
  .entry-content>h1 {
    font-size: 22px;
  }

  .entry-content>h2,
  .entry-content>h3 {
    font-size: 18px;
  }

  .entry-content>h4,
  .entry-content>h5,
  .entry-content>h6 {
    font-size: 16px;
  }
}



/* links */

.entry-content a {
  color: var(--color-text-accent-2);
  text-decoration: underline;
  transition: all .25s ease;
}

.entry-content a:hover {
  text-decoration: none;
}

/* paragraphs */

.entry-content p+* {
  margin-top: 15px;
}

.entry-content p+p {
  margin-top: 15px;
}

/* blockquote */

.entry-content blockquote {
  position: relative;
  margin: 30px 0;
  padding: 0;
  padding-left: 30px;
  border-left: 2px solid var(--color-text-accent-2);
}

/* image */

.entry-content img {
  max-width: 100%;
  height: auto;
}

/* lists */

.entry-content ul,
.entry-content ol {
  margin: 15px 0;
  padding-left: 15px;
}

/* .entry-content ul li::marker {
  color: var(--color-text-accent);
} */

.entry-content li:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .entry-content li:not(:last-child) {
    margin-bottom: 12px;
  }
}
