/* Root */

:root {
  /* colors */
  --color-bg-accent: #0366d6;
  --color-bg-accent-2: #fa826c;
  --color-bg-primary: #24292f;
  --color-bg-secondary: #1f2428;
  --color-text-accent: #0366d6;
  --color-text-accent-2: #fa826c;
  --color-text-primary: #fafafa;
  --color-text-inert: #a1a2a3;
  --color-border: #1f2428;

  /* text */
  --text-font-main: 'Open Sans', sans-serif;
  --text-font-accent: serif;
  --text-size-main: 15px;
  --text-line-height-main: 1.3;
  --text-line-height-title: 1.2;
}

@media (prefers-color-scheme: light) {
  :root {
    /* colors */
    --color-bg-accent: #0366d6;
    --color-bg-accent-2: #fa826c;
    --color-bg-primary: #fff;
    --color-bg-secondary: #f6f8fa;
    --color-text-accent: #0366d6;
    --color-text-accent-2: #fa826c;
    --color-text-primary: #3c434a;
    --color-text-inert: #959ea5;
    --color-border: #e2e4e8;
  }
}
